#donuuut{
  border: 3px solid gold;
  height:95vh;
  width:50vw;
}

.app{
  display:flex;
  justify-content: center;
  align-items: center;
}

@keyframes anim{
  from{
    transform: rotate(0) ;
  }
  to{
    transform: rotate(360);
  }
}